<% if (typeof(script) !== 'undefined' && script) { %>
  <% /* no-op: giscus doesn't require extra head scripts in this theme */ %>
<% } else { %>
  <div class="giscus"></div>
  <script
    src="https://giscus.app/client.js"
    data-repo="XhinLiang/xhinliang.github.io"
    data-repo-id="MDEwOlJlcG9zaXRvcnk0NzMwMzM2Mg=="
    data-category="General"
    data-category-id="DIC_kwDOAtHKws4C2mbd"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="preferred_color_scheme"
    data-lang="en"
    crossorigin="anonymous"
    async>
  </script>
<% } %>
